<% include ./partials/header %>

<div class="container">
   <div class="row">
       <div class="col-lg-7 col-xs-12 mx-auto">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <img src="http://mcldiecutting.com/wp-content/uploads/2017/06/spacex.png" class="card-img-top" alt="...">
                </div>
                <div class="text-center page-header">
                    <h1>Launches</h1>
                </div>
                
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SpaceX's Latest Launch</h5>
        <p class="card-text">Find out more about the most recent rocket launched by SpaceX</p>
        <a href="/latestlaunch" class="btn btn-dark">Latest Launch</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SpaceX's Next Launch</h5>
        <p class="card-text">Find out more about the next scheduled rocket being launched by SpaceX</p>
        <a href="/nextlaunch" class="btn btn-dark">Next Launch</a>
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>