.page-header {
    padding-bottom: 6%;
}

.card-img-top {
    padding-top: 3%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

body {
    min-height: 100%;
    margin: 0;
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
